<div class="container">
  <mat-horizontal-stepper [@.disabled]="true" #stepper class="stepper" >
    <mat-step >
      <ng-template matStepLabel></ng-template>
      <mat-card class='card-1 pop-appear'>
        <mat-card-header>
          <mat-card-title>Welcome to Wesley App</mat-card-title>
          <mat-card-subtitle>Kayak</mat-card-subtitle>
        </mat-card-header>
        <img class="responsive-img logo" src='../../../assets/logo.jpg' alt="Wesley Logo">
        <mat-card-content>
          <h5>Have you ever signed up with Wesley App?</h5>
        </mat-card-content>
        <mat-card-actions style='display: grid; grid-template-columns: 1fr 1fr;'>
          <button mat-button  class="teal lighten-2" (click)='setStatus(true)' matStepperNext>Yes</button>
          <button mat-button class="teal lighten-2" routerLink='/signup'>No</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step >
      <ng-template matStepLabel>Find Email</ng-template>
      <mat-card  class='card-1 pop-appear'>
        <img class="responsive-img logo" src='../../../assets/logo.jpg' alt="Wesley Logo">
        <mat-card-header>  
          <mat-card-title>Enter Your Email</mat-card-title>
        </mat-card-header>
       
        <mat-card-content [formGroup]='formGroup'>
          <input placeholder="Enter Your Email" formControlName='email'>
          <mat-error *ngIf='email.touched && email.invalid'>Error, invalid email</mat-error>
        </mat-card-content>
        <mat-card-actions style='display: grid; grid-template-columns: 1fr 1fr;'>
          <button mat-button  class="teal lighten-2" (click)='setStatus(false)' matStepperPrevious>Go Back</button>
          <button mat-button class="teal lighten-2" (click)='searchUser(stepper)' >Submit</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Confirm</ng-template>
      <mat-card class='card-1 pop-appear'>
        <img class="responsive-img logo" src='../../../assets/logo.jpg' alt="Wesley Logo">
        <mat-card-header>  
          <mat-card-title>Is this information correct?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h6>Name:  </h6>
            <h6>Classification: </h6>
            <h6>Signature: </h6>
            <h6>Number of Past Vists: </h6>
        </mat-card-content>
      
        <mat-card-actions style='display: grid; grid-template-columns: 1fr 1fr;'>
          <button mat-button  class="teal lighten-2" (click)='confirmUser()'>Yes</button>
          <button mat-button class="teal lighten-2" (click)='resetUser()' matStepperPrevious >No</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>

    <mat-step >
      <ng-template matStepLabel>Select Kayak Type</ng-template>
      <mat-card  class='card-1 pop-appear'>
        <img class="responsive-img logo" src='../../../assets/logo.jpg' alt="Wesley Logo">
        <mat-card-header>  
          <mat-card-title>Enter Your Email</mat-card-title>
        </mat-card-header>
       
        <mat-card-content [formGroup]='formGroup'>
          <input placeholder="Enter Your Email" formControlName='email'>
          <mat-error *ngIf='email.touched && email.invalid'>Error, invalid email</mat-error>
        </mat-card-content>
        <mat-card-actions style='display: grid; grid-template-columns: 1fr 1fr;'>
          <button mat-button  class="teal lighten-2" (click)='setStatus(false)' matStepperPrevious>Go Back</button>
          <button mat-button class="teal lighten-2" (click)='searchUser()'  matStepperNext>Submit</button>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
  </div>