
<form [@openClose]="isOpen ? 'open' : 'closed'"  [formGroup]='myForm' class="form-grid card">
        <img class="responsive-img logo" src='../../../assets/logo.jpg' alt="Wesley Logo">
    <section>
        <label hidden for="firstName">First Name</label>
        <input matInput name="firstName" placeholder="First Name" formControlName="firstName">
        <mat-error *ngIf='firstName.touched && firstName.invalid'>Error</mat-error>
    </section>

    <section>
        <label hidden for="lastName">Last Name</label>
        <input matInput name="lastName" placeholder="Last Name" formControlName="lastName">
        <mat-error *ngIf='lastName.touched && lastName.invalid'>Error</mat-error>
    </section>

    <section>
        <label hidden for="email">Email</label>
        <input matInput name="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf='email.touched && email.invalid'>Error</mat-error>
    </section>

    <section>
        <label for='classification'>Pick your classification</label>
        <mat-radio-group class="radio-group" formControlName="classification">
            <mat-radio-button *ngFor="let classification of classifications; let i = index" [value]="i">
                {{classification}}
            </mat-radio-button>
        </mat-radio-group>
    </section>
  
    <section>
        <app-canvas (linesEvent)='getLines($event)'></app-canvas>
    </section>

    <section>
        <mat-checkbox >I accept the terms and conditions</mat-checkbox>
    </section>
    <section class="grid-2">
    <button  style="margin: 1px" class="btn waves-effect waves-light teal darken-3"  routerLink='/'>Go Back <i
            class="material-icons right">send</i></button>
    <button  style="margin: 1px" class="btn waves-effect waves-light teal darken-3" type="submit" (click)="onCreate()">Submit <i
                class="material-icons right">send</i></button>
    </section>
</form>