.logo{
    width: 10em;
    display: block;
    margin: auto
}
.radio-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-grid {
    display: grid;
    grid-template-rows: repeat(8, auto);
    height: 95vh;
}