<div class="container">
    <mat-horizontal-stepper [@.disabled]="true" #stepper class="stepper"  *ngIf='!completed; else done'>

        <mat-step>
                <ng-template matStepLabel>Signup</ng-template>
                <app-forms class="form-wapper" [stepper] ='stepper'  ></app-forms>
        </mat-step>

        <mat-step>
                <ng-template matStepLabel>Confirm</ng-template>
                <app-details></app-details>
              </mat-step>
          
              <mat-step >
                <ng-template matStepLabel>Selection</ng-template>
                <app-selection></app-selection>
              </mat-step>
    </mat-horizontal-stepper>
    
    <ng-template #done>
            <app-completed ></app-completed>
    </ng-template>
</div>